asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==42.0.5
Django==4.2.8
idna==3.10
Pillow==10.1.0
pycparser==2.22
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.5.3
urllib3==2.3.0
psutil==5.9.7
